<%- include("./partials/header") %>
   <div class="container">
   <div class="jumbotron " style="background-color:  #CDCDCD;">
    <h1 class="display-4">Movie Search Application</h1>
    <p class="lead"> This is a simple movie search application, where users can search for
        their favourite movie and get details about it.</p>
    <hr class="my-4">
    <p>This is created by Vandana G</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
</div>
<%- include("./partials/footer") %>